[submodule "contrib/box2d/code"]
	path = contrib/box2d/code
	url = git://github.com/gamaral/Box2D.git
	branch = gamaral
[submodule "contrib/tinyxml2/code"]
	path = contrib/tinyxml2/code
	url = git://github.com/gamaral/tinyxml2.git
[submodule "contrib/libpng/code"]
	path = contrib/libpng/code
	url = git://libpng.git.sourceforge.net/gitroot/libpng/libpng
[submodule "contrib/zlib/code"]
	path = contrib/zlib/code
	url = git://github.com/madler/zlib.git
[submodule "contrib/lua/code"]
	path = contrib/lua/code
	url = git://github.com/gamaral/lua.git
