[submodule "contrib/box2d/code"]
	path = contrib/box2d/code
	url = git://github.com/gamaral/Box2D.git
	branch = master
[submodule "contrib/tinyxml2/code"]
	path = contrib/tinyxml2/code
	url = git://github.com/gamaral/tinyxml2.git
