SUBSYSTEM=="input", ENV{ID_INPUT_JOYSTICK}=="1", MODE="0644"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", MODE="0644"
SUBSYSTEM=="input", ENV{ID_INPUT_MOUSE}=="1",    MODE="0644"
